html {
    background-color: #E6E6FA;
}

.main {
    background-color: #FFF8DC;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
}

.input {
    margin: 10px;
}

.output {
    margin: 20px;
}

.youtube-input {
    margin: 10px;
}

.youtube-output {
    margin: 25px;
}

.url-text {
    width: 85%;
    height: 30px;
}

.reload-button {
    width:10%;
    height: 35px;
}

.update-info {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}
